# Entorno virtual
venv/

# Dependencias instaladas por Composer
vendor/

# Configuracion local privada
config.local.php

# Caché de Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Datos temporales
DATASET/uploads/

# Archivos de información local
INFO/

# Archivos temporales de LibreOffice
.~lock*

# Archivos temporales de Microsoft Office
~$*

# Windows
Thumbs.db

# macOS
.DS_Store
